<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>天気予報</title>
</head>
<body style="text-align: center">
  <div id="app">
  ログイン
  <div>
    <div>Email</div>
    <input id="email" type="text" v-model="email">
  </div>
  <div>
    <div>パスワード</div>
    <input id="password" type="password" v-model="password">
  </div>
  <input id="button" type="button" value="ログイン" v-on:click="login">
  <div>
    <input type="button" id="sign_in" value="新規登録画面へ" v-on:click="signUpPage"></input>
  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="js/sign_in.js"></script>
</body>
</html>