<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>天気予報</title>
</head>
<body style="text-align: center">
  新規登録
  <div id="app">
  <div>
    <div>Email</div>
    <input type="text" v-model="email">
  </div>
  
  <div>
    <div>パスワード</div>
    <input type="password" v-model="password">
  </div>
  <input type="submit" value="新規登録" v-on:click="login">
  <div>
      <input type="button" value="サインイン画面へ" v-on:click="signInPage"></input>
  </div>
  </div>
  
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="js/sign_up.js"></script>
</body>
</html>